@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NewsViewModel>
              
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.SidebarClass = "twitter";
    ViewBag.ContentClass = "blog";
}

@section sidebar {
    @Html.Partial("Shared/_twitter.cshtml")
}

<h2 class="section-header">News</h2>

@foreach (var post in Model.Posts) { 
    <article class="blog-post">
        <hgroup class="blog-post-header">
            <h4 class="blog-post-timestamp">
                <span class="blog-post-timestamp-day">@post.Timestamp.Day.ToString()</span>
                <span class="blog-post-timestamp-month">@post.Timestamp.ToString("MMM")</span>
            </h4>
            <a href="@Url.Content("~/players/" + post.AuthorLink)"><h4>@post.Author</h4></a>
            <h2>@post.Title</h2>
        </hgroup>
        @Html.Markdown(post.Content)
    </article>
}