<!DOCTYPE html>
<html>
<head>
    <title>DW*TX | Doublewide Ultimate | Austin Texas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Doublewide is a club ultimate team based in Austin, Texas. Founded in 2001, we're a well nasty brotherhood with players from around the country. Our consistent improvement over the last decade led to back-to-back national semifinal appearances in 2010 and 2011 and culminated in Doublewide's first national championship in 2012." />
    <link rel="image_src" href="https://s3.amazonaws.com/Doublewide/images/site/dw-tx-fb.png" />
    <link rel="stylesheet" href="@Url.Content("~/content/css/lib/foundation.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/content/css/main.css")"/>
    @Html.Assets().Styles.Render()

    <script type="text/javascript" src="//use.typekit.net/kvk7cal.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
    <div class="container row">
        <header class="@ViewBag.HeaderClass">
            <div class="twelve columns">
                <a class="logotype four columns" href="@Url.Content("~/")"></a>
                <nav class="eight columns">
                    <a href="@Url.Content("~/news")">News</a>
                    <a href="@Url.Content("~/players")">Players</a>
                    <a href="@Url.Content("~/results")">Results</a>
                    <!--<a href="@Url.Content("~/media")">Media</a>-->
                </nav>
            </div>
            @if (ViewBag.HeaderClass == "home")
            {
                <section class="callout twelve columns">
                    @RenderSection("callout", false)
                </section>
            }
        </header>
        @if (false){
            <a class="photo-attribution visible" href="http://jeffbellphoto.ca/" target="_blank">Photo &copy; Jeff Bell</a>    
        }
        <section class="content">
            <section class="@Html.CssClasses("four columns", (string)ViewBag.SidebarClass)">
                @RenderSection("sidebar", true)
            </section>
            <section class="@Html.CssClasses("eight columns", (string)ViewBag.ContentClass)">
                @RenderBody()
            </section>
        </section>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    @Html.Assets().Scripts.Render()
    @RenderSection("js", false)
</body>
</html>
