@using System.Collections.Generic
@using Doublewide.Web.Models
@using ServiceStack.Text;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<AdminViewModel>
              
@{
    var postJson = JsonSerializer.SerializeToString(Model.Posts);
    var tournamentJson = JsonSerializer.SerializeToString(new List<TournamentModel>());  
}

<!DOCTYPE html>
<html>
    <head>
        <title>DW*TX | Doublewide Ultimate Club, Austin Texas</title>
        <link rel="stylesheet" href="@Url.Content("~/content/css/lib/bootstrap-responsive.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/content/css/admin.css")"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <section class="admin blog span6" id="blog-admin">
                    <h1>Update Blog</h1>
                    <div class="row-fluid">
                        <section class="blog-posts span3">
                            <h2>Post</h2>
                            <div id="posts-template-container"></div>      
                        </section>
                        <section class="blog-update span9" id="blog-editor">
                            <h2>New Post</h2>
                            <textarea class="blog-content"></textarea>
                        </section>
                    </div>
                </section>
                <section class="admin results span6" id="season-admin">
                    <h1>Update Results</h1>
                </section>
            </div>
        </div>

        <script type="text/x-template" id="posts-template">
            <% _.each(posts, function(post) { %>
            
                <div class="blog-post" data-id="<%=post.Id%>">
                    <h3><%=post.Title%></h3>
                    <%=post.Author%> on <%=post.Timestamp%>
                </div>
            
            <% });%>
        </script>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/lib/underscore-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/lib/backbone-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/admin.js")"></script>
        <script type="text/javascript">
            (function () {

                dwtx.Admin.viewData = {
                    posts: @Html.Raw(postJson),
                    tournaments: @Html.Raw(tournamentJson)
                };

                $(function () {
                    dwtx.Admin.init();
                });
            }).call(this);
        </script>
    </body>
</html>