@using System.Collections.Generic
@using Doublewide.Web.Models
@using ServiceStack.Text;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Doublewide.Web.ViewModels.AdminViewModel>
              
@{
    var postJson = JsonSerializer.SerializeToString(Model.Posts);
    var tournamentJson = JsonSerializer.SerializeToString(new List<TournamentModel>());  
}

<!DOCTYPE html>
<html>
    <head>
        <title>Doublewide Site Admin</title>
        <link rel="stylesheet" href="@Url.Content("~/content/css/lib/foundation.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/content/css/admin.css")"/> 
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <section class="admin blog six columns" id="blog-admin">
                    <h1>Blog</h1>
                    <div class="row">
                        <section class="blog-posts three columns">
                            <h2>Posts</h2>
                            <!-- ko foreach: { data: posts, as: 'post' } -->
                            <div class="blog-post-summary" data-bind="click: $parent.selectedPost">
                                <h3 data-bind="text: post.title"></h3>
                                <p data-bind="text: post.author"></p>
                            </div>
                            <!-- /ko -->
                        </section>
                        <section class="blog-update nine columns" id="blog-editor" data-bind="with: selectedPost">
                            <h2 data-bind="text: title"></h2>
                            <textarea class="blog-content" data-bind="text: content"></textarea>
                        </section>
                    </div>
                </section>
                <section class="admin results six columns" id="season-admin">
                    <h1>Results</h1>
                </section>
            </div>
        </div>
        
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/lib/underscore-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/lib/knockout-2.2.0.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/admin.js")"></script>
        <script type="text/javascript">
            var bootstrap = {
                posts: [
                    { title: 'This is a test post', author: 'Steven Darroh' },
                    { title: 'Second post', author: 'Daniel Poindexter' }
                ],
                tournaments: []
            };

            AdminModule.init(bootstrap);
        </script>
    </body>
</html>