@using Doublewide.Web.ViewModels;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HomepageViewModel>
              
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.HeaderClass = "home";
    ViewBag.PhotoAttribution = " visible";
}

<section class="twitter span4">
    <h2>@@doublewidetx</h2>
    <div id="twitter-feed"></div>
</section>
<section class="blog span6">
    <h1>News</h1>
    @foreach (var post in Model.Posts) { 
        <article class="blog-post">
            <hgroup class="blog-post-header">
                <h4 class="blog-post-timestamp">
                    <span class="blog-post-timestamp-day">@post.Timestamp.Day.ToString()</span>
                    <span class="blog-post-timestamp-month">@post.Timestamp.ToString("MMM")</span>
                </h4>
                <a href="@Url.Content("~/players/" + post.AuthorLink)"><h4>@post.Author</h4></a>
                <h2>@post.Title</h2>
            </hgroup>
            <p>@post.Content</p>
        </article>
    }
</section>

@section js {
    <script type="text/javascript" src="@Url.Content("~/content/js/lib/jquery.tweet.js")"></script>
    <script type="text/javascript">
        $(function() {
            $("#twitter-feed").tweet({
                username: 'doublewidetx',
                count: 10,
                avatar_size: 32,
                template: "{avatar}{join}{text}{time}"
            })
        });
    </script>
}
