@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HomepageViewModel>
              
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.HeaderClass = "home";
    ViewBag.HasHeaderPhoto = true;
    ViewBag.SidebarClass = "twitter";
    ViewBag.ContentClass = "blog";
}

@section sidebar {
    @Html.Partial("Shared/_twitter.cshtml")
    @Html.Partial("Shared/_sponsors.cshtml")  
}

@section callout {
    <div class="about-dw">
        Doublewide is a club ultimate team based in Austin, Texas. Founded in 2001, we're a well nasty brotherhood with players from around the country. Our consistent improvement over the last decade led to back-to-back national semifinal appearances in 2010 and 2011 and culminated in Doublewide's first national championship in 2012.
    </div>    
}

<h2 class="section-header">Recent</h2>

<hgroup class="headline">
    <h1>@Model.FeaturedPost.Title</h1>
    <h4><a href="@Url.Content("~/players/" + Model.FeaturedPost.AuthorLink)">@Model.FeaturedPost.Author</a> on @Model.FeaturedPost.Timestamp.ToString("d")</h4>
</hgroup>

@Html.Markdown(Model.FeaturedPost.Content)

<h4>Read more on <a href="@Url.Content("~/news/")">the blog &#8594;</a></h4>
