@using Doublewide.Web.ViewModels;
@using MarkdownDeep;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HomepageViewModel>
              
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.HeaderClass = "home";
    ViewBag.PhotoAttribution = " visible";
    var md = new Markdown();
}

<section class="twitter span4">
    <h2>@@doublewidetx</h2>
    <div id="twitter-feed"></div>
    
    <h2 class="sponsors-heading">Sponsors & Supporters</h2>
    <div class="sponsor">
        <a href="http://www.ultiphotos.com" target="_blank" class="sponsor-logo"><img src="@Url.Content("~/content/images/ultiphotos-logo-small.png")" alt="Ultiphotos logo"/></a>
        <a href="http://www.ultiphotos.com" target="_blank"><h4>Ultiphotos</h4></a>
        <p>Ultiphotos brings high-quality sports photography to Ultimate's biggest tournaments</p>
    </div>
</section>
<section class="blog span6">
    <h1>News</h1>
    @foreach (var post in Model.Posts) { 
        <article class="blog-post">
            <hgroup class="blog-post-header">
                <h4 class="blog-post-timestamp">
                    <span class="blog-post-timestamp-day">@post.Timestamp.Day.ToString()</span>
                    <span class="blog-post-timestamp-month">@post.Timestamp.ToString("MMM")</span>
                </h4>
                <a href="@Url.Content("~/players/" + post.AuthorLink)"><h4>@post.Author</h4></a>
                <h2>@post.Title</h2>
            </hgroup>
            @Html.Raw(md.Transform(post.Content))
        </article>
    }
</section>

@section js {
    <script type="text/javascript" src="@Url.Content("~/content/js/lib/jquery.tweet.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#twitter-feed").tweet({
                username: 'doublewidetx',
                count: 6,
                avatar_size: 32,
                template: "{avatar}{join}{text}{time}"
            });
        });
    </script>
}
