@using Doublewide.Web.ViewModels;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HomepageViewModel>
              
@{
    Layout = "Shared/_layout.cshtml";
    ViewBag.HeaderClass = "home";
}

<section class="twitter span4">
    <h2>@@doublewidetx</h2>
    <div id="twitter-feed"></div>
</section>
<section class="blog span6">
    <h1>News</h1>
    @foreach (var post in Model.Posts) { 
        <article class="blog-post">
            <h4 class="blog-timestamp">@post.Timestamp.ToString("MMM d") | <a href="@Url.Content("~/players/" + post.AuthorLink)">@post.Author</a></h4>
            <h2>@post.Title</h2>
            <p>@post.Content</p>
        </article>
    }
</section>

@section js {
    <script type="text/javascript" src="@Url.Content("~/content/js/lib/jquery.tweet.js")"></script>
    <script type="text/javascript">
        $(function() {
            $("#twitter-feed").tweet({
                username: 'doublewidetx',
                count: 10,
                avatar_size: 32,
                template: "{avatar}{join}{text}{time}"
            })
        });
    </script>
}
